html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: open-sans;
}

nav ul {
    background-color: white;
}

.nav-link { 
    color: #886588ff !important;
}

#nav {
    border-bottom: solid;
    border-color: #886588ff;

}

.btn {
    background-color: #886588ff;
}

.customfooter {
    background-color: #c8b2a5;
    width: 100%;
    display: inline-grid;
    min-height: 150px;
    padding-top: 2%;
    position: absolute;
    bottom: 0;
}

.footerbox1 {
    display: inline-flex;
    align-items: center;
}

.footerinbox {
    width: 50%;
    height: auto;
    text-align: center;
}

.footer-lower {
    text-align: center;
    font-size: 12px;
}