html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: #000000b8 !important;
    z-index:5;
}

body {
    font-family: calibri;
    display: flex;
    flex-direction: column;
    height:100%;
}

main {

}

nav ul {
    /*background-color: white;*/
}

.nav-link {
    color: #886588ff !important;
    font-weight: 600;
    font-size: 20px;
}

#nav {
    border-bottom: solid;
    border-color: #886588ff;
    padding-bottom: 5px;
}

.btn {
    background-color: #886588ff;
}

/*Ql editor*/
.ql-tooltip {
    top: -50px !important;
}

.customfooter {
    background-color: #c8b2a5;
    width: 100%;
    display: inline-grid;
    min-height: 150px;
    padding-top: 2%;
    margin-bottom: -114px;
    bottom: 0;
    position: absolute;
    top: 100%;
}

.footerbox1 {
    display: inline-flex;
    align-items: center;
}

.footerinbox {
    width: 50%;
    height: auto;
    text-align: center;
}

.footer-lower {
    text-align: center;
    font-size: 12px;
}

/*INDEX CONTENT*/

.index-banner-background {
    background-image: url("/data/Images/NF1A7428.jpg");
    height: 85vh;
    background-position: center;
    background-size: cover;
    filter: brightness(0.8);
    margin-top:-114px;
}

.index-content-flex {
    display: flex;
    flex-wrap: wrap;
}

.index-display-item {
    width: 50%;
    height: 45vh;
    background-color: antiquewhite;
    /*    border: 1px solid black;*/
    display: inline-grid;
    align-items: center;
    justify-items: center;
    padding: 25px;
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75) inset;
    transition: ease-out 0.3s;
}

    .index-display-item:hover {
        box-shadow: 0px -475px 18px -20px rgb(0 0 0 / 50%) inset;
        -webkit-box-shadow: 0px -475px 18px -20px rgb(0 0 0 / 50%) inset
    }

#index-item1 {
    background: linear-gradient( rgb(0 0 0 / 25%), rgba(0, 0, 0, 0.25) ), url(/data/Images/events.jpg);
    background-position: center;
    background-size: cover;
}

#index-item2 {
    background-image: linear-gradient( rgb(0 0 0 / 25%), rgba(0, 0, 0, 0.25) ), url(/data/Images/blog.PNG);
    background-position: center;
    background-size: cover;
}

#index-item3 {
    background-image: url("/data/Images/Maila.jpg");
    background-image: linear-gradient( rgb(0 0 0 / 25%), rgba(0, 0, 0, 0.25) ), url(/data/Images/Maila.jpg);
    background-position: center;
    background-size: cover;
}

#index-item4 {
    background-image: linear-gradient( rgb(0 0 0 / 25%), rgba(0, 0, 0, 0.25) ), url(/data/Images/hvemerjeg.jpg);
    background-position: center;
    background-size: cover;
}
