html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav ul {
    background-color: white;
}

.nav-link { 
    color: #886588ff !important;
}

#nav {
    border-bottom: solid;
    border-color: #886588ff;

}

.btn {
    background-color: #886588ff;
}