@page
@model AndenSemesterProjekt.Pages.Blog.DisplayPostModel
@{
}

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<div class="blogmain">
    <div class="blogspawnmain">

        @if (Model.Post != null)
        {
            <article class="container-fluid p-2">
                <div class="bloginformation p-2">
                    <h2 class="blogtitle">@Model.Post.Title</h2>
                    <input hidden id="ql-text" value="@Model.Post.Information" />
                    <div id="ql-display">
                     </div>
                    <script>
                        var jdQuill = new Quill('#ql-display', {
                            readOnly: true,
                            value: this,
                            theme: 'bubble'
                        });
                        //var ops =
                        //    [
                        //        { insert: 'Hello' },
                        //        { insert: 'World!', attributes: { bold: true } },
                        //        { insert: '\n' }
                        //    ]
                        var JsonObject = JSON.parse(document.getElementById('ql-text').value);
                        console.info(JsonObject);

                        for (let x in JsonObject) {
                            for (let y in JsonObject[x]) {
                                console.log(y + ": " + JsonObject[x][y]);
                            }
                        }
                        jdQuill.setContents(JSON.parse(document.getElementById('ql-text').value));
                    </script>
                    <p>@Model.Post.CreationDate</p>
                </div>
            </article>
        }

    </div>
    <aside class="blogaside">
        @await Html.PartialAsync("/Pages/Shared/Partials/_BlogPostSideMenu.cshtml", Model)
    </aside>
</div>