@page
@model AndenSemesterProjekt.Pages.Products.DeleteProductModel
@{
}

<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
	<h5>Vil du slette product - @Model.product.Title</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger">Yes</button>
		<a class="btn btn-primary" asp-page="/Products/DisplayProducts">No</a>
	</form>
</div>