@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index-banner-background">
</div>
<article>
    <div class="index-content-flex">
        <div class="index-display-item" id="index-item1">
            <h2>EVENTS</h2>
            <a class="btn btn-primary" asp-route-currentPage="1" asp-page="/Blog/DisplayBlog">Læs Mere</a>
        </div>
        <div class="index-display-item" id="index-item2">
            <h2>BLOG</h2>
            <a class="btn btn-primary" asp-route-currentPage="1" asp-page="/Blog/DisplayBlog">Læs Mere</a>
        </div>
        <div class="index-display-item" id="index-item3">
            <h2>BIBLIOTEK</h2>
            <a class="btn btn-primary" asp-route-currentPage="1" asp-page="/Blog/DisplayBlog">Læs Mere</a>
        </div>
        <div class="index-display-item" id="index-item4">
            <h2>HVEM ER JEG?</h2>
            <a class="btn btn-primary" asp-route-currentPage="1" asp-page="/Blog/DisplayBlog">Læs Mere</a>
        </div>
    </div>
</article>
